.header {
    font-family:Geneva,Arial,sans-serif;
    text-align:center;
    border:solid;
    border-radius: 30px;
}

div .trasbox {
  margin: 3.8%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.85;
  color:black;
}

.header a{
    font-family:"Times",serif;
    text-decoration: none;
    font-weight:bold;
    color:black;
    font-size:25px;
}

.info   {
    display:flex;
    justify-content:justify;
    justify-content:space-evenly;
}

.image  {
    background-image: url(background.png);
    width:280px;
    border:solid;
    border-radius: 25px;
    padding:30px;
    margin-bottom:20px
}

body    {
    background-image: url(mainbackground.png);
}